<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.web.mapper.TextMessageMapper">

    <select id="selectAll" resultType="tk.mybatis.web.model.TextMessage">
        SELECT * FROM text_message a left JOIN base_message b on a.b_id=b.id;
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert text_message(b_id,content,type,keyword) value (
          #{bId},
          #{content},
          #{type},
          #{keyword}
        );
    </insert>
    <select id="selectAllByType" resultType="tk.mybatis.web.model.TextMessage">
        SELECT * FROM text_message a LEFT JOIN base_message b on a.b_id=b.id WHERE a.type = #{type};
    </select>
</mapper>